<script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<style>
    mjx-container {
        text-align: left !important;
    }
</style>
{% if notes|length == 0 %}No notes here!{% endif %}
{% for note in notes %}
    {% if note.type == 'intro' %}
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <hr>
    {% endif %}
{% endfor %}
{% for note in notes %}
    {% if note.type == 'definition' %}
        <p><b>{{ note.title }}</b>:
            {{ note.content }}</p>
    {% endif %}
    {% if note.type == 'img' %}
        <img height="200px" src="{{ asset('uploads/image_uploads/' ~ note.content) }}" alt="{{ note.content }}"/>
    {% endif %}
    {% if note.type == 'formula' %}
        <p>
            {{ note.title }}
            $${{ note.content }}$$
        </p>
    {% endif %}
    {% if note.type == 'text' %}
        <h3>{{ note.title }}</h3>
        <p>{{ note.content }}</p>
    {% endif %}
{% endfor %}
<ul>
    <li><a href="{{ path('note_create', {id: id, type:'definition'}) }}">Add a definition</a></li>
    <li><a href="{{ path('note_create', {id: id, type:'formula'}) }}">Add a formula</a></li>
    <li><a href="{{ path('note_create', {id: id, type:'img'}) }}">Add an image</a></li>
    <li><a href="{{ path('note_create', {id: id, type:'text'}) }}">Add text</a></li>
    <li><a href="{{ path('note_topic', {id: back}) }}">Back</a></li>
</ul>
<div>
    <a href="{{ path('note_remove_topic', {'id': id}) }}">Remove these notes</a>
</div>